<%= link_to 'Inicio', root_path %>

<h1>Nitrogeno</h1>

<h3>Creación de hojas y tallos.</h3>

<h1>Fosfato</h1>

<h3>Transporte de energía (desarrollo de raíces, hojas y flores)</h3>

<h1>Potasio</h1>

<h3>Regulación hídrica (fases de floración y fruto)</h3>
