<h1>Bienvenido a mi huerto.</h1>

<%= link_to 'Plantas', controller: 'plants' %>

<p></p>

<%= link_to 'Plagas', controller: 'pests' %>

<p></p>

<%= link_to 'Macronutrientes', controller: 'macronutrients' %>

<p></p>

<%= link_to 'Mis huertos', controller: 'lands' %>

