<%= link_to 'Volver', plants_path %>

<h1>A 3 capas:</h1>
<p>Alta: tomate, pimiento, berenjena, maíz, judia de enrame, calabacín. Distancia entre ellas 40cm</p>
<p>De raíz: cebolla, ajo, remolacha, zanahoria, rábano</p>
<p>De cobertura: lechuga, rúcula, espinaca, fresas, cebollino, camomila</p>
<p> capa alta - capa de cobertura - capa de raíz </p>

<h1>Ciclo largo y corto</h1>
<p>Combinar plantas de ciclo corto con plantas de ciclo largo. las de ciclo corto -rábano, rúcula o mastuerzo- sirven para aprovechar el espacio mientras las plantas de ciclo más largo no se hacen lo suficientemente grandes.</p>

<h1>Positivas y negativas</h1>
<%= link_to 'Mi listado de plantas', plants_path %><br>

<%= link_to 'https://www.planetahuerto.es/revista/distancia-entre-plantas_00409' %>